.vscode/*
!.vscode/extensions.json
tf-repo-mgmt/TerraformPatternModules.csv
tf-repo-mgmt/TerraformResourceModules.csv
tf-repo-mgmt/repositoryData.json
tf-repo-mgmt/TerraformUtilityModules.csv
tf-repo-mgmt/azure-verified-modules.pem
tf-repo-mgmt/temp
*.log
*.log.json
*.tfplan
tf-repo-mgmt/*.json
